.bg-circle {
  width: 100%;
  height: 100%;
  background-color: #bbbbbb;
  border-top-left-radius: 60%;
  position: relative;
  z-index: 0;
}
.bg-circle::before {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #343f5f;
  border-top-left-radius: 80%;
  z-index: -1;
}
.bg-circle::after {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #222121;
  border-top-left-radius: 100%;
  z-index: 1;
}

.footer-info-content {
  background-color: #2b2b2b;
  width: 200px;
  height: 60px;
  border-radius: 20px;
  padding: 10px 15px;
}
