@import './reset.css';
@font-face {
  font-family: titr;
  src: url('./assets/fonts/AGhasem.ttf');
}
@font-face {
  font-family: sans;
  src: url('./assets/fonts/Far_Casablanca.ttf');
}

:root {
  --def-font: sans;
  --titr: titr;
}

.app {
  font-family: var(--def-font);
}
